@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #1b2733;
  line-height: 0.8695652174;
  font-size: 1.25rem;
  font-family: "Roboto";
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 108.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__error {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-left: 292px;
  margin-top: 10px;
  color: red;
}

.form .form__row._error {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_contact-as {
  margin-top: 55px;
}

.form_contact-as .form__label {
  min-width: 157px;
  margin-right: 132px;
}

.form_contact-as .form__input {
  max-width: 551px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_contact-as .form__row {
  margin-bottom: 22px;
}

.form_contact-as .form__row:last-child {
  margin: 0px 0px 36px 0px;
}

.form_contact-as .checkbox,
.form_contact-as button {
  margin-left: 292px;
}

.form_contact-as button {
  max-width: 276px;
}

.form_contact-as .checkbox {
  margin-bottom: 42px;
}

.form_contact-as .form__title {
  margin-bottom: 45px;
  margin-right: 30px;
}

.form__container {
  margin: 0 auto;
  max-width: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  text-align: center;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  font-size: 16px;
  line-height: 19px;
  color: #c9d3dd;
  border: 3px solid #f0f3f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 20px 21px 33px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #1a822c;
  -webkit-box-shadow: inset -0.4px -0.4px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 10px rgba(0, 0, 0, 0.06), inset 0.4px 0.4px 5px rgba(0, 0, 0, 0.03), inset 2px 2px 10px rgba(255, 255, 255, 0.14);
          box-shadow: inset -0.4px -0.4px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 10px rgba(0, 0, 0, 0.06), inset 0.4px 0.4px 5px rgba(0, 0, 0, 0.03), inset 2px 2px 10px rgba(255, 255, 255, 0.14);
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.button_big {
  min-width: 246px;
  min-height: 63px;
}

.button_med {
  padding: 10px 16px;
}

.button_wh {
  color: #1a822c;
  border: 2px solid #1a822c;
  background-color: transparent;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  display: block;
  padding: 18px 20px 18px 33px;
  color: #c9d3dd;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input._focus {
  border: 3px solid #b0d4f9;
}

.input._error {
  border: 3px solid red;
}

.input ::-webkit-input-placeholder {
  color: #c9d3dd;
}

.input ::-moz-placeholder {
  color: #c9d3dd;
}

.input :-ms-input-placeholder {
  color: #c9d3dd;
}

.input ::-ms-input-placeholder {
  color: #c9d3dd;
}

.input ::placeholder {
  color: #c9d3dd;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__label .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 10px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  background: #fff;
  border: 2px solid #eaedf5;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__label .options__text:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.options__input:not(:checked) + .options__label .options__text:after {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.options__input:checked + .options__label {
  background-color: #1a822c;
}

.options__input:checked + .options__label .options__text {
  color: #ffffff;
}

.options .options__label {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.options__text {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #1a822c;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #817d79;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value:before {
  background-image: url("../../../img/icons/arrow.svg");
  background-position: center right;
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 2px;
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #817d79;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 5px;
  color: inherit;
  border-bottom: 1px solid #d9d9d9;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  margin-top: 20px;
  margin-bottom: 12px;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 22px;
  border-bottom: 2px solid #f0f3f6;
  margin-bottom: 12px;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__column .select {
  margin-right: 46px;
}

.header__logo {
  margin-right: 37px;
}

.header__burse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
}

.header__burse li {
  margin-right: 68px;
}

.header__burse li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__burse li span {
  color: #817d79;
  margin-right: 7px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0px 27px 0px 0px;
}

.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.footer__top {
  background: #f5f5f5;
  padding: 70px 0px;
}

.footer__top .footer__content {
  margin-left: 477px;
}

.footer__top .menu__list {
  /*&:nth-child(2) {
  	margin-right: 114px;
  }*/
}

.footer__top .menu__list:first-child {
  margin-right: 115px;
}

.footer__top .menu__list:nth-child(3) {
  margin-right: 129px;
}

.footer__bottom {
  background: #121212;
  padding: 70px 0px 46px 0px;
}

.footer__bottom .menu__item {
  color: #f5f5f5;
}

.footer .footer__content {
  max-width: 1655px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 77px;
}

.footer__row:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__logo {
  margin-right: 79px;
}

.footer__copy p {
  margin-bottom: 3px;
}

.footer__copy p:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-footer .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.menu-footer .menu__list {
  display: block;
  margin-right: 95px;
}

.menu-footer .menu__list:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-footer .menu__item {
  margin-bottom: 15px;
}

.menu-footer .menu__item_title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.1538461538;
}

.menu-footer .menu__item:last-child {
  margin: 0px 0px 0px 0px;
}

.social__item {
  margin-right: 26px;
}

.social__item:last-child {
  margin: 0px 0px 0px 0px;
}

.page {
  min-width: 0;
}

.page_for-business {
  padding-bottom: 100px;
}

.h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.2166666667;
}

.h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.225;
}

.h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
}

.h4 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.15625;
}

.h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}

.h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.p1 {
  font-size: 20px;
  line-height: 1.15;
}

.p2 {
  font-size: 18px;
  line-height: 1.1666666667;
  color: #35404a;
}

.p3 {
  font-size: 12px;
  line-height: 14px;
  line-height: 1.1666666667;
  color: #817d79;
}

.text {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.1818181818;
}

.green {
  color: #247700;
}

.list li {
  margin-bottom: 20px;
  color: #35404a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list li:last-child {
  margin: 0px 0px 0px 0px;
}

.no-webp .list li::before{
  background-image: url("../img/icons/success.png"); }

.list li::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 26px;
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
}

.gradient-green {
  font-weight: bold;
  font-size: 60px;
  line-height: 1.1666666667;
  color: #409642;
  background: -o-linear-gradient(150deg, #409642 0%, #85e121 100%);
  background: linear-gradient(300deg, #409642 0%, #85e121 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mb25 {
  margin-bottom: 25px;
}

.calc {
  padding: 28px 55px 50px 60px;
  background: #ffffff;
  -webkit-box-shadow: inset -0.4px -0.4px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 10px rgba(0, 0, 0, 0.06), inset 0.4px 0.4px 5px rgba(0, 0, 0, 0.03), inset 2px 2px 10px rgba(255, 255, 255, 0.14);
          box-shadow: inset -0.4px -0.4px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 10px rgba(0, 0, 0, 0.06), inset 0.4px 0.4px 5px rgba(0, 0, 0, 0.03), inset 2px 2px 10px rgba(255, 255, 255, 0.14);
  border-radius: 10px;
}

.calc__radio {
  margin-bottom: 40px;
}

.calc__radio .options {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calc__radio .options__item {
  margin-right: 20px;
}

.calc__radio .options__item:last-child {
  margin: 0px 0px 0px 0px;
}

.calc__radio .options__label.button {
  padding: 6px 11px;
  min-width: 150px;
}

.calc__item {
  margin-bottom: 23px;
}

.calc__item:last-child {
  margin: 0px 0px 0px 0px;
}

.calc__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.calc__range {
  min-width: 438px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 6px;
  margin-bottom: 16px;
  outline: none;
  opacity: 1;
  background: #fffffd;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #21ba72), color-stop(25%, #fffffd));
  background: -o-linear-gradient(left, #21ba72 25%, #fffffd 25%);
  background: linear-gradient(90deg, #21ba72 25%, #fffffd 25%);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(14, 14, 14, 0.09);
          box-shadow: 0px 0px 5px 1px rgba(14, 14, 14, 0.09);
  border-radius: 3px;
}

.no-webp .calc__range::-webkit-slider-thumb{
  background: url("../img/icons/coin.png"); }

.calc__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 31px;
  height: 32px;
  border: 0;
  cursor: pointer;
  -webkit-transform: rotate(6.49deg);
          transform: rotate(6.49deg);
}

.no-webp .calc__range::-moz-range-thumb{
  background: url("../img/icons/coin.png"); }

.calc__range::-moz-range-thumb {
  width: 31px;
  height: 32px;
  border: 0;
  cursor: pointer;
  transform: rotate(6.49deg);
}

.calc__range::-moz-range-progress {
  background: #21ba72;
}

.calc__range::-ms-fill-lower {
  background: #21ba72;
}

.calc__range-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__range-desc span {
  font-weight: 500;
  font-size: 13px;
  color: #adadad;
  line-height: 1.1538461538;
}

.calc__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__price .gradient-green.h4 {
  font-size: 32px;
  line-height: 1.15625;
  margin: 0;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.banner__slide {
  min-height: 560px;
  width: 100%;
}

.banner__slide_chance {
  background: -webkit-gradient(linear, left top, left bottom, from(#d4d5e8), color-stop(40.62%, #dfeaf0), color-stop(64.51%, #e6eced), to(#fdffff));
  background: -o-linear-gradient(top, #d4d5e8 0%, #dfeaf0 40.62%, #e6eced 64.51%, #fdffff 100%);
  background: linear-gradient(180deg, #d4d5e8 0%, #dfeaf0 40.62%, #e6eced 64.51%, #fdffff 100%);
  padding: 45px 0px;
}

.banner__slide_chance .banner__content {
  margin-left: 45px;
  margin-bottom: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1533px;
}

.banner__slide_chance .banner__title {
  margin-bottom: 2px;
}

.banner__slide_chance .banner__subtitle {
  margin-bottom: 25px;
}

.swiper-pagination-bullets {
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: flex;
  position: relative;
  bottom: 46px;
}

.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #b3cebe;
  display: block;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet:last-child {
  margin: 0px 0px 0px 0px;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  width: 20px;
  height: 10px;
  -webkit-box-shadow: 4px 4px 15px rgba(196, 196, 196, 0.4);
          box-shadow: 4px 4px 15px rgba(196, 196, 196, 0.4);
  border-radius: 10px;
}

.banner__slide_chance .banner__content .banner__column:first-child {
  max-width: 802px;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__content .gradient-green {
  margin-bottom: 8px;
  display: inline-block;
  margin-left: 44px;
  margin-right: 16px;
}

.banner__list {
  margin-bottom: 26px;
}

.banner__desc {
  color: #817d79;
}

.banner__column {
  margin-right: 20px;
}

.banner__column:last-child {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #29c143;
  }

  .button_wh:hover {
    background-color: #1a822c;
    color: #fff;
  }

  .button_wh:hover .options__text {
    color: #fff;
  }

  .checkbox a:hover {
    text-decoration: none;
  }

  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .list li::before{ background-image: url(../img/icons/success.webp); }

.webp .calc__range::-webkit-slider-thumb{ background: url(../img/icons/coin.webp); }

.webp .calc__range::-moz-range-thumb{ background: url(../img/icons/coin.webp); }